.body {
    margin: 0 auto;
    padding: 0;
    max-width: 1445px;
    min-height: 100vh;
    background-color: #252237;
    color: #FFFFFF;
    background-image: url(./image/fon\ 1.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Gotham Pro';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}


.header__logo {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 50px;
    background-image: url(./image/IQMO.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 97px;
    height: 34px;
}

.art {
    margin: 0;
    margin-left: 13.77%;
    max-width: 633px;
    display: flex;
    flex-direction: column;
}

.art__title {
    margin: 0;
    margin-top: 92px;
    max-width: 433px;
    font-weight: 700;
    font-size: 70px;
    line-height: 65px;
    letter-spacing: -2.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.art__subtitle {
    margin: 0;
    margin-top: 31px;
    margin-bottom: 51px;
    max-width: 433px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.art__button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 368px;
    height: 81px;
    background: #E2521D;
    box-shadow: 0px 0px 55px rgba(202, 0, 80, 0.51);
    border-radius: 10px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.art__button:hover {
    opacity: 0.6;
}

.qwestion {
    margin: 0;
    padding: 0;
    margin-left: 13.77%;
    margin-right: 13.77%;
    margin-top: 136px;
    display: flex;
    flex-direction: row;
}

.qwestion__picture {
    margin: 0;
    max-width: 31.07%;
    margin-right: 55px;
}

.qwestion__text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.qwestion__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 14px;
    max-width: 572px;
    margin-bottom: 80px;
}

.qwestion__subtitle {
    margin: 0;
    margin-bottom: 17px;
    max-width: 572px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #8997AB;
}


.education {
    margin: 0;
    margin-left: 13.77%;
    margin-right: 13.77%;
    display: flex;
    flex-direction: column;
}

.education__title {
    margin: 0;
    margin-top: 143px;
    margin-bottom: 97px;
    max-width: 449px;
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
}

.education__skills {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills__picture {
    margin: 0;
    margin-bottom: 25px;
    width: 84px;
    height: 84px;
    border-radius: 360%;
}

.skills__text {
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    max-width: 412px;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
}

.text_type_short {
    max-width: 300px;
}

.program {
    margin: 0;
    padding: 0;
    margin-left: 14.53%;
    margin-right: 14.53%;
    display: flex;
    flex-direction: column;

}

.program__step {
    margin-bottom: 20px;
}

.program__title {
    margin: 0;
    margin-bottom: 75px;
    max-width: 314px;
    align-self: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
}

.program__punct {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: #0E1B28;
    border-radius: 2px;
}

.program__punct_type_aktive {
    background: #E2521D;

}


.program__name {
    margin: 0;
    padding: 0;
    margin-top: 41px;
    margin-bottom: 41px;
    margin-left: 72px;
    max-width: 893px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.program__punct {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.program__button {
    margin: 0;
    padding: 0;
    margin-right: 57px;
    width: 50px;
    height: 50px;
    background-image: url(./image/program-button-off.svg);
    border-radius: 360%;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(90deg);
    cursor: pointer;
}

.program__button:hover {
    opacity: 0.6;
}

.program__button_type_aktive {

    background-image: url(./image/program-button-on.svg);
}

.program__menu {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 55px;
    margin-left: 78px;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #8997AB;
    display: none;

}

.program__menu_type_active {
    display: block;
}

.everybady {
    margin: 0;
    padding: 0;
    margin-top: 111px;
    margin-left: 38px;
    margin-right: 38px;
    background-image: url(./image/fon123.png);
    max-width: 1445px;
    min-height: 100vh;
    background-position: left center;
    background-repeat: no-repeat;
    width: ;
    display: flex;
    flex-direction: column;
}

.qwestion__text {
    margin: 0;
    margin-right: 10%;

    align-self: end;
}

.everybady__subtitle {
    margin: 0;
    margin-bottom: 17px;
    max-width: 572px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    color: #8997AB;


}

.everybady__title {
    margin: 0;
    padding: 0;
    margin-bottom: 164px;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 14px;
    max-width: 572px;
    margin-bottom: 80px;
    align-self: center;
}

.subtitle_type_orange {
    color: #E2521D;
}

.cours {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.cours__title {
    margin: 0;
    align-self: center;
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    max-width: 550px;
}

.cours__picture {
    width: 67px;
    height: 71px;
}

.cours__subtitle {
    margin: 0;
    margin-top: 46px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 23px;
    line-height: 22px;
    max-width: 426px;

}

.cours__text {
    margin: 0;
    max-width: 426px;
    margin-right: 30px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 34px;
    color: #8997AB;
}


.cours__skills {
    margin: 0;
    padding: 0;
    max-width: 1445px;
    margin-left: 13.77%;
    margin-right: 13.77%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.cours__button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    margin-left: 14%;
    margin-right: 14%;
    background-color: transparent;
    max-width: 72.5%;
    min-height: 177px;
    background: #E2521D;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.cours__button:hover {
    opacity: 0.6;
}

.cours__button-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
}

.cours__bonus {
    margin: 0;
    padding: 0;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 48px;
    margin-bottom: 66px;
    display: flex;
    flex-direction: row;
}

.bonus__item {
    display: flex;
    flex-direction: row;
    margin-right: 63px;
}

.bonus__item:last-child {
    margin-right: 0;
}

.bonus__img {
    margin-right: 36px;
}

.bonus__text {
    margin: 0;
    max-width: 199px;
}

.form {
    margin: 0;
    padding: 0;
    max-width: 1445px;
    margin-left: 18.9%;
    margin-right: 18.9%;
    display: flex;
    flex-direction: column;
    border-top: solid #706470 2px;
    align-items: center;
}

.form__promo {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 36px;
    max-width: 577px;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.form__span-red {
    color: palevioletred;
}

.form__span-grey {
    color: gray;
}

.form__text {
    margin: 0;
    margin-bottom: 30px;
    max-width: 345px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.form__body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.form__input {
    margin: 0;
    align-self: center;
    min-width: 458px;
    margin-bottom: 24px;
    max-width: 458px;
    min-height: 60px;
    background: #393C57;
border: 1px solid #E2521D;
border-radius: 8px;
color: aliceblue;
font-size: 24px;
    
}
.form__button {
    width: 458px;
    align-self: center;
height: 60px;
background: #E2521D;
color: #FFFFFF;
cursor: pointer;

}
.checkbox__text {
    margin: 0;
    max-width: 421px;
    font-weight: 400;
    margin-left: 16px;
font-size: 12px;
line-height: 140%;

color: rgba(255, 255, 255, 0.6);
}
.form__place-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.form__checkbox {
    width: 21px;
    height: 21px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 66px;
    margin-bottom: 30px;
    margin-left: 14%;
    margin-right: 14%;
}
.footer__copyright {
    margin: 0;
    max-width: 223px;
    margin-right: 12%;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
letter-spacing: 0.01em;
color: #FFFFFF;

}

.footer__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
   
}

.footer__pay {
   margin-right: 11%;
}
.pay__text {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    max-width: 200px;
    font-weight: 600;
font-size: 14px;
line-height: 150%;
}

.pay__img {
    margin: 0;
    margin-right: 28px;
    max-width: 63px;
}

.footer_link {
    margin: 0;
    max-width: 223px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
letter-spacing: 0.01em;
color: #FFFFFF;
}