.skills__text {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 57px;
    max-width: 412px;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
}

@media screen and (max-width: 929px) {
    .skills__text {
        max-width: 90%;
        align-self: center;
        margin-bottom: 70px;
        font-weight: 400;

    }
}