.footer__link {
    margin: 0;
    max-width: 223px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}