.qwestion__subtitle {
    margin: 0;
    margin-bottom: 17px;
    max-width: 572px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #8997AB;
}

@media screen and (max-width: 945px) {
    .qwestion__subtitle {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        max-width: 90%;
        align-self: center;
    }
}
