.cours__title {
    margin: 0;
    align-self: center;
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    max-width: 550px;
}

@media screen and (max-width: 945px) {
    .cours__title {
        max-width: 90%;
        align-self: center;
    }
}