.form__input {
    margin: 0;
    align-self: center;
    min-width: 458px;
    margin-bottom: 2px;
    max-width: 458px;
    min-height: 60px;
    background: #393C57;
    border: 1px solid green;
    border-radius: 8px;
    color: aliceblue;
    font-size: 24px;
    outline: 0;
    outline-offset: 0;

}

@media screen and (max-width: 505px) {
    .form__input {
        max-width: 301px;
        min-width: 301px;


    }
}

.form__error_visible {
    border: 1px solid red; 
    
}