.cours__button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    margin-left: 14%;
    margin-right: 14%;
    min-width: 72%;
    background-color: transparent;
    max-width: 72.5%;
    min-height: 177px;
    background: #E2521D;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 929px) {
    .cours__button {
        margin: 0;
        min-width: 100%;
    }
}

.cours__button:hover {
    opacity: 0.6;
}