.cours__bonus {
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 48px;
    margin-bottom: 66px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 929px) {
    .cours__bonus {
        flex-direction: column;


    }
}
