.qwestion__text {
    margin: 0;
    padding: 0;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-self: end;
}

@media screen and (max-width: 945px) {
    .qwestion__text {
        align-self: center;
    }
}